.base-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--pages-color);
  > header {
    display: flex;
    height: 52px;
    padding: 0 12px;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
  }

  .base-container {
    height: 100%;
    overflow: hidden;
    // border-radius: 10px;
    // border-top-left-radius: var(--border-radius);

    > section {
      position: relative;
      flex: 1 1 100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding: 12px 20px 20px 20px;
      box-sizing: border-box;
      scrollbar-gutter: stable;
      .base-content {
        width: calc(100% - 10px * 2);
        margin: 0 auto;
      }
    }

    &.no-padding {
      > section {
        padding: 0;
        overflow: visible;
        .base-content {
          width: 100%;
        }
      }
    }
  }
}
